
h4{
    width: 500px;
    margin: auto;
    padding-top: 2em;
    text-align: center;
}
.row{
    margin-top: 60px;
}
.bi{
    font-size: 40px;
}
.col{
    margin-left: 60px;
}
form{
    width: 500px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center
}
.vid{
    width: 500px;
    margin: auto;
    margin-top: 60px;
}